  *{
    box-sizing: border-box;
  }

  body{
    font-size:24px;
    line-height:32px;
    color:#333;
  }

  h1{
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  p{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  #fixed {
    color:black;
    background: blue;
    position:fixed;
    padding:40px;
    text-align: center;
    margin:0;
    top:0px;
    left:0px;
  }

  #relative {
    background: red;
    position:relative;
    padding:20px;
    margin-bottom: 20px;
    text-align: center;
    height:200px;
  }

  #absolute {
    background:brown;
    position:absolute;
    padding:20px;
    margin-bottom: 20px;
    text-align: center;
    margin:0;
    bottom:0px;
    right:-30px;
  }

  .wrapper{
    width:600px;
    margin:0 auto;
    padding:20px;
  }